/* css for website */

p.box {
	color: green;
}

body {
    background-color: blue;
    
    margin: 0;
    padding: 0;

}

img.icon {
	height:auto;
	width: 80px;
	display:inline;
}

#socialMedia
{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: red;
	
}

#footer {
	
	
	margin: 0;
        padding: 0;
	height: 80px;
	position: fixed;
	background-color: green;
	bottom: 0;
	width: 100%;
}
