/* css for website */

p.box {
	color: green;
}

body {
    background-color: blue;
}

img.icon {
	height:90px;
	width:auto;
	align:middle;
}
#footer {
	
	height:100px;
	
	position:fixed;
	border-style:solid;
	bottom:0;
	width=100%;
}
