/* css for website */

#bannerHolder
{
	margin: 0;
        padding: 0;
	height: 200px;
	

	top: 0;
	width: 100%;
}

#banner
{

	
	height:200px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#content
{
	background-color:green;
	margin-left:auto
	margin-right:auto;
	width:1000px;
	height:1000px;
	float: right;
	padding:20px;
	margin:20px;
}

#sideNav
{
	background-color:red;
	height:1000px;
	width:200px;
	margin-left:10px;
	left:10px;
	float:left;
	
	
}

#rssFeed
{
	margin-right:10px;

	height:1000px;
	width:200px;
	background-color:blue;
	float:right;
	top:200px;
}


body {
    background-color: black;
    background-image: url("../Images/wp2.jpg");
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;

}

img.icon {
	height: 25px;
	width: 25px;
	display:inline;
	padding: 0;
}

#socialMedia
{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-style:solid;
  
	
}

#footer {
	
	
	margin: 0;
        padding: 0;
	height: 25px;
	position: fixed;
	background-color:gray;
	bottom: 0;
	width: 100%;
}
